@import "tailwindcss";
@import "tw-animate-css";

:root {
    --farm-green: #2E8B57;  
    --sun-yellow: #FFD700;  
    --earth-brown: #8B4513; 
    --sky-blue: #4C6E91;    
    --fresh-orange: #FFA500;
}

